* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
align-items: center;
  justify-content:space-around;
  background-color: #8455e1;
  position: sticky;
  top: 0px;
  z-index: 1;
}
img {
  width: 50px;
}
li {
  list-style: none;

  padding: 1vh 2vw;
}
ul:hover {
  background-color: white;
  color: black;
}
.name {
  font-weight: bold;
}
.App div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-image: url("https://img.freepik.com/free-vector/musical-notes-frame-with-text-space_1017-32857.jpg?w=2000");
  background-size: contain;
}

@media screen and (max-width: 820px) {
  .App div,
  ul,h1 {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vh 3vw;
  }
}
